body{
  font-family: 'Droid', 'Lato', sans-serif;
  font-size: 2px;
  font-weight: 200;
  padding: 120;
  margin:0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
body *{
  box-sizing: border-box;
}
header{
  text-align: center;
  padding: 50px 0;
  background-color: #2eb872;
  color: #FFF;
}
.demo-section-box{
  width: 100%;
  border-top: solid 10px #000;
}
.section-container{
  width: 100%;
  margin: 0 auto;
  max-width: 1365px;
  padding: 50px 10px;
  

}
.demo-box{
  margin: 20px 0;
}
.demo-align-right{
  text-align: right;
}
.demo-button{
  display: inline-block;
  padding: 7px 20px;
  background: #FFF;
  border:solid 1px #2eb872;
  border-radius: 3px;
  color: #2eb872;
  text-decoration: red;
}
.demo-button:hover{
  color: #000;
  background: #2eb872;
}
